/* Just importing a cool font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Applies to everything as a default! */
body {
    display: flex; /* This command enables all Flexbox commands! */
    flex-direction: column; /* Arranges header and instrument containers in a column */

    font-family: Roboto, sans-serif; /* Imported font from above, else use safe font */
    background-color: #242526;
    color: #F9FAF8;
    margin: 0px; /* Don't need space around borders by default */
    min-height: 100vh; /* Sets the min height of the page to the screen size */
}

/* Easy border visuals for divs (containers): Uncomment this to show borders! */
/*
div {
    border: 1px solid red;
}
*/

/* Default button styling (for buttons in general) */
button {
    width: 120px; /* Default button sizing */
    height: 80px;
    background-color: #551ABB;
    color: #FFFFFF;

    /* Removes ugly default button border */
    /* Buttons are clickable, but no visual feedback! */
    border: 0px;

    border-radius: 16px; /* Default edge roundness */
    font-weight: 700; /* On the spectrum of font thickness, 700 == bold */
    font-size: 18px;
}

/* Styles the menu bart containers at the top of the screen */
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px; /* Creates some space between the menu bar and instruments */
}

/* Styles instrument-row containers */
.instrument-container {
    display: flex;
    flex-direction: column;
}

/* Styles instrument-channel and instrument-notes containers */
.instrument-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;

    /* The last instrument note button in a row will add 10px to this */
    /* Ultimately making margin on left and right side of instrument row 20px each */
    margin-right: 10px;
}

/* Spacing out an instrument channel button from its notes */
.instrument-channel {
    margin-right: 30px;
}

/* Note button styling */
.instrument-note-button {
    background-color: #FF8243;
    margin-left: 10px;
    margin-right: 10px;
}