/* Just a cool font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex; /* This command enables all Flexbox commands! */

    /* These Flexbox commands are just to set standards for EVERYTHING */
    /* We can change these values for each container on the page later */
    /* when we need an HTML element to have specific behavior */
    flex-direction: column; /* Arranges header and instrument containers in a column */

    font-family: Roboto, sans-serif; /* Imported font from above */
    background-color: #242526;
    color: #F9FAF8;
    margin: 0px; /* Don't need space around borders by default */
    min-height: 100vh; /* Sets the min height of the page to the screen size */
}

/* Easy border visual for all divs (AKA containers) */
div {
    border: 1px solid red;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.instrument-container {
    display: flex;
    flex-direction: column;
}

.instrument-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}