/* Just importing a cool font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Applies to everything as a default! */
body {
    display: flex; /* This command enables all Flexbox commands when you need them! */
    flex-direction: column; /* Arranges header and instrument containers in a column */

    font-family: Roboto, sans-serif; /* Imported font from above, else use safe font */
    background-color: #242526;
    color: #F9FAF8;
    margin: 0px; /* Don't need space around borders by default */
    min-height: 100vh; /* Sets the min height of the page to equal the screen size */
}

/* Default button styling (for buttons in general) */
button, input {
    width: 110px; /* Default button sizing */
    height: 80px;
    background-color: #551ABB;
    color: #FFFFFF;

    /* Removes ugly default button border */
    /* Buttons are clickable, but no visual feedback! */
    border: 0px;

    border-radius: 16px; /* Default edge roundness */
    font-weight: 700; /* On the spectrum of font thickness, 700 == bold */
    font-size: 18px;
}

/* Controls cursor appearance upon hovering over a button */
button:hover {
    cursor: pointer;
}

/* Styles the row of icons at the top of the screen */
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 40px; /* Creates vertical space between menu bar and instruments */
}

/* Styles the play and stop buttons */
.header-play, .header-stop {
    vertical-align: top;
    /* font-size: 46px; */
}
/* Play and Stop button font sizes are set seperately because the Unicode 
triangle and square icons are different sizes*/
.header-play {
    font-size: 42px;
}
.header-stop {
    font-size: 48px;
}

/* Styles the header tempo button text box */
.header-tempo {
    text-align: center;
}

/* Styles the header login button */
.header-login {
    border: 2px solid #3882F6;
    border-radius: 8px;
    background-color: #3882F6;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    height: 36px;
    width: 110px;
    position: relative;
    left: -22px;
}

/* Styles the rows of instruments */
.instrument-container {
    display: flex;
    flex-direction: column;
}

/* Styles all content in a row of instruments */
.instrument-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

/* Styles the purple instrument channel buttons */
.instrument-channel {
    display: flex;
    background-color: #551ABB;
    border-radius: 10px;
    width: 220px;
    height: 80px;
    margin-right: 10px;
}

/* Styles the container that holds the instrument channel name */
.instrument-channel-name {
    margin: 20px 0 20px 0;
    padding: auto 5px auto 10px;
    overflow-wrap: normal;
}

/* Styles the left side of an instrument channel button */
.instrument-channel-left {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    text-align: center;
    margin-left: 8px;
}

/* Styles the instrument channel play button container */
.instrument-channel-play-button-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0 0;   
    padding-top: 8px;
}

/* Styles an instrument channel play button */
.instrument-channel-play-button {
    padding: 0;
    background-color: #545454;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 0 1px rgb(43, 41, 41);
}

/* Adds animation to an instrument channel play button */
.instrument-channel-play-button:hover {background-color: #7c7b7b;}
.instrument-channel-play-button:active {
    background-color: #7c7b7b;
    transform: translateY(1px);
}

/* Styles the note buttons that can be toggled */
.instrument-note-button {
    background-color: #545454;
    margin-left: 10px;
    margin-right: 10px;
}