.instrument-container {
    display: flex;
    flex-direction: column;
}

/* Styles all content in a row of instruments */
.instrument-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4px auto;
}

/* Styles the purple instrument channel buttons */
.instrument-channel {
    display: flex;
    background-color: #551ABB;
    border-radius: 10px;
    width: 220px;
    height: 80px;
    margin-right: 6px;
}

/* Styles the left side of an instrument channel button */
.instrument-channel-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    text-align: center;
}

/* Styles the container that holds the instrument channel name */
.instrument-channel-name {
    height: 40px;
    width: 100px;
    margin-top: 23px;
}

/* Styles the instrument channel lock icon OFF by default */
.fa-lock {
    margin-bottom: 5px;
    visibility: hidden;
}

/* Controls the appearance of the instrument channel lock icon */
.show-instrument-channel-lock {
    visibility: visible;
}

/* Styles the instrument channel play button container */
.instrument-channel-play-button-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0 0;   
    padding-top: 8px;
}

/* Styles an instrument channel play button */
.instrument-channel-play-button {
    padding: 0;
    background-color: #545454;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 0 1px rgb(43, 41, 41);
}

/* Styles an instrument channel upload button */
.instrument-channel-upload-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 5px;
    font-size: 1.6rem;
    background-color: #545454;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 0 1px rgb(43, 41, 41);
}

/* Styles an instrument channel's play and upload buttons on hover */
.instrument-channel-play-button:hover,
.instrument-channel-upload-button:hover {background-color: #7c7b7b;}

/* Styles an instrument channel's play and upload buttons on click */
.instrument-channel-play-button:active,
.instrument-channel-upload-button:active {
    background-color: #7c7b7b;
    transform: translateY(1px);
}

/* Styles the right side of an instrument channel button */
.instrument-channel-right {
    display: flex;
}

/* Styles the instrument channel volume and panning button container */
.instrument-channel-volume-panning-button-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Styles an instrument channel volume button */
.instrument-channel-volume-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #545454;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 0 1px rgb(43, 41, 41);
    font-size: 16px;
    font-weight: 900;
}

/* Adds animation to an instrument channel volume button */
.instrument-channel-volume-button:hover {background-color: #7c7b7b;}
.instrument-channel-volume-button:active {
    background-color: #7c7b7b;
    transform: translateY(1px);
}

/* Styles an instrument channel volume popup */
.volume-popup {
    position: fixed;
    background-color: #C9B7FF;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 8px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}
  
.instrument-channel-volume-button:hover .volume-popup {
    opacity: 1;
}

/* Styles mute button */
.instrument-channel-mute-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #545454;
    margin-top: 8px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 0 1px rgb(43, 41, 41);
    font-size: 16px;
    font-weight: 900;
}

/* Disable Font Awesome icons from creating dead zone on icon */
.fa, .fas {
    pointer-events: none;
}

/* Adds animation to mute button */
.instrument-channel-mute-button:hover {background-color: #7c7b7b;}
.instrument-channel-mute-button:active {
    background-color: #d7122c;
    transform: translateY(1px);
}

.mute-button-off {background-color: #545454;}
.mute-button-on {background-color: #d7122c;}
.mute-button-on:hover {background-color: #f72e49;}

/* Styles an instrument channel panning knob */
.instrument-channel-panning-knob {
    width: 30px;
    height: 30px;
    background-color: #545454;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-top: 5px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.6);
    background-color: #545454; 
    transition: background-color 0.15s ease; 
}

/* Styles an instrument channel panning button when hovered over*/
.instrument-channel-panning-knob:hover {
    background-color: #757575; 
}

/* Styles an instrument channel panning button when clicked/held */
.instrument-channel-panning-knob.active {
    background-color: #757575; 
}

/* Styles an instrument channel panning buutton tic */
.instrument-channel-panning-tic {
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: center 15px;
    transform: translateX(-50%) rotate(0deg);
    width: 3px;
    height: 12px; 
    background-color: #FFFFFF;
    pointer-events: none;
}

/* Styles an instrument channel panning popup */
.panning-popup {
    position: fixed;
    background-color: #C9B7FF;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 8px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
  }
  
.instrument-channel-panning-knob:hover .panning-popup {
    opacity: 1;
}

/* Styles the note buttons that can be toggled */
.instrument-note-button {
    background-color: #545454;
    margin-left: 6px;
    margin-right: 6px;
}